# Exploratory Data Analysis

In [1]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Set plot style

In [2]:
sns.set_style("darkgrid")

# Read data from CSV

- read building's metadata

In [3]:
building_df = pd.read_csv("../data/raw/building_metadata.csv")
building_df.head
building_df.info

<bound method DataFrame.info of       site_id  building_id                    primary_use  square_feet  \
0           0            0                      Education         7432
1           0            1                      Education         2720
2           0            2                      Education         5376
3           0            3                      Education        23685
4           0            4                      Education       116607
...       ...          ...                            ...          ...
1444       15         1444  Entertainment/public assembly        19619
1445       15         1445                      Education         4298
1446       15         1446  Entertainment/public assembly        11265
1447       15         1447            Lodging/residential        29775
1448       15         1448                         Office        92271

      year_built  floor_count
0         2008.0          NaN
1         2004.0          NaN
2         1991.0          NaN
3         2002.0          NaN
4         1975.0          NaN
...          ...          ...
1444      1914.0          NaN
1445         NaN          NaN
1446      1997.0          NaN
1447      2001.0          NaN
1448      2001.0          NaN

[1449 rows x 6 columns]>

In [4]:
building_df.describe()

           site_id  building_id    square_feet   year_built  floor_count
count  1449.000000  1449.000000    1449.000000   675.000000   355.000000
mean      6.952381   724.000000   92111.776398  1967.957037     3.740845
std       5.003432   418.434583  110769.950997    31.054030     3.333683
min       0.000000     0.000000     283.000000  1900.000000     1.000000
25%       3.000000   362.000000   23012.000000  1949.000000     1.000000
50%       5.000000   724.000000   57673.000000  1970.000000     3.000000
75%      13.000000  1086.000000  115676.000000  1995.000000     5.000000
max      15.000000  1448.000000  875000.000000  2017.000000    26.000000

In [5]:
building_df.dtypes

site_id          int64
building_id      int64
primary_use     object
square_feet      int64
year_built     float64
floor_count    float64
dtype: object

- check for null values

In [6]:
print(building_df.isnull().sum())

site_id           0
building_id       0
primary_use       0
square_feet       0
year_built      774
floor_count    1094
dtype: int64

- read weather data

In [7]:
weather_train = pd.read_csv("../data/raw/weather_train.csv")
weather_train.head
weather_train.info

<bound method DataFrame.info of         site_id            timestamp  air_temperature  cloud_coverage  \
0             0  2016-01-01 00:00:00             25.0             6.0
1             0  2016-01-01 01:00:00             24.4             NaN
2             0  2016-01-01 02:00:00             22.8             2.0
3             0  2016-01-01 03:00:00             21.1             2.0
4             0  2016-01-01 04:00:00             20.0             2.0
...         ...                  ...              ...             ...
139768       15  2016-12-31 19:00:00              3.0             NaN
139769       15  2016-12-31 20:00:00              2.8             2.0
139770       15  2016-12-31 21:00:00              2.8             NaN
139771       15  2016-12-31 22:00:00              2.2             NaN
139772       15  2016-12-31 23:00:00              1.7             NaN

        dew_temperature  precip_depth_1_hr  sea_level_pressure  \
0                  20.0                NaN              1019.7
1                  21.1               -1.0              1020.2
2                  21.1                0.0              1020.2
3                  20.6                0.0              1020.1
4                  20.0               -1.0              1020.0
...                 ...                ...                 ...
139768             -8.0                NaN                 NaN
139769             -8.9                NaN              1007.4
139770             -7.2                NaN              1007.5
139771             -6.7                NaN              1008.0
139772             -5.6               -1.0              1008.5

        wind_direction  wind_speed
0                  0.0         0.0
1                 70.0         1.5
2                  0.0         0.0
3                  0.0         0.0
4                250.0         2.6
...                ...         ...
139768           180.0         5.7
139769           180.0         7.7
139770           180.0         5.1
139771           170.0         4.6
139772           180.0         8.8

[139773 rows x 9 columns]>

- read train data

In [8]:
train_df = pd.read_csv("../data/raw/train.csv")
train_df.head
train_df.info

<bound method DataFrame.info of           building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]>