In [1]:
import pandas as pd

In [2]:
weather_train = pd.read_csv("../data/raw/weather_train.csv")

In [4]:
weather_train.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [8]:
from meteocalc import feels_like, Temp

In [7]:
weather_train.shape

(139773, 9)

In [ ]:
def create_fells_like(df):
    temp_f = (df.air_temperature - 32)

In [ ]:
#To do
#check formula
#solve dew point formula for humidity
#use formula for feels like

#add new column in temp_format
#add new column humidity as follows:
#
#compute feels like as follows
#windchill
#compute humidity and heat_index
#t

In [19]:
temp_format = weather_train.air_temperature.apply(lambda x : Temp(x, 'c'))

In [17]:
weather_train.apply(lambda x, y: )

Temp(24.4, unit="C")

In [ ]:
CONSTANTS = dict(
        positive=dict(b=17.368, c=238.88),
        negative=dict(b=17.966, c=247.15),
    )