In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GroupKFold

In [2]:
# train has meter readings, which are obviously lacking in test set
train_df = pd.read_pickle("../data/processed/train_data.pkl")
#test_df = pd.read_pickle("../data/processed/test_data.pkl")

In [3]:
train_df.head()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
0,0,0,0.000000,0,0,8.913550,11.0,NaN,19.406250,3.162209,...,4,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,1142,1,0.000000,13,6,11.549431,NaN,NaN,-7.199219,8.000000,...,4,NaN,False,False,16.768229,18.847656,11.118490,10.296224,3.326116,3.221908
2,1142,0,48.000000,13,6,11.549431,NaN,NaN,-7.199219,8.000000,...,4,NaN,False,False,17.519531,18.801758,11.302083,10.154460,3.072498,3.138575
3,1141,0,21.000000,13,8,9.951611,NaN,NaN,-7.199219,8.000000,...,4,NaN,False,False,18.153646,18.660156,11.402344,9.991862,2.856456,2.971908
4,1140,2,6609.379883,13,0,11.960703,NaN,NaN,-7.199219,8.000000,...,4,NaN,False,False,18.703125,18.518229,11.302083,9.783366,2.856456,2.721908

In [4]:
train_df.shape

(19229841, 26)

In [5]:
train_df.columns

Index(['building_id', 'meter', 'meter_reading', 'site_id', 'primary_use',
       'square_feet', 'year_built', 'floor_count', 'air_temperature',
       'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr',
       'relative_humidity', 'air_temp_f', 'feels_like_temp', 'hour', 'weekday',
       'area_per_floor', 'outlier_square_feet', 'outlier_area_per_floor',
       'air_temperature_6_lag', 'air_temperature_24_lag',
       'dew_temperature_6_lag', 'dew_temperature_24_lag',
       'cloud_coverage_6_lag', 'cloud_coverage_24_lag'],
      dtype='object')

In [18]:
if not 'building_id2' in train_df.columns:
    raise ValueError(
        "For grouped cv, the cross validation is grouped on building_id. "
                     "Therefore it must be excluded from the `drop` section in the config file "
                     "BEFORE using make data. "
                     "Note that the building_id is still not included in the model, it is needed for specifying the folds only and will be dropped afterwards.")

ValueError: For grouped cv, the cross validation is grouped on building_id. Therefore it must be excluded from the `drop` section in the config file BEFORE using make data. Note that the building_id is still not included in the model, it is needed for specifying the folds only and will be dropped afterwards.