In [2]:
import pandas as pd
train = pd.read_pickle("../data/train_converted.pkl")

In [3]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,timezone,country_code,location,timestamp_local
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,US/Eastern,US,"Orlando, FL",2016-01-01 00:00:00-05:00
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,US/Eastern,US,"Orlando, FL",2016-01-01 00:00:00-05:00
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,US/Eastern,US,"Orlando, FL",2016-01-01 00:00:00-05:00
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,US/Eastern,US,"Orlando, FL",2016-01-01 00:00:00-05:00
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,US/Eastern,US,"Orlando, FL",2016-01-01 00:00:00-05:00

In [5]:
any(train.duplicated('timestamp_local'))

True