In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/external/rows_to_drop.csv")

In [3]:
df.head(100)

      0
0     1
1     2
2     3
3     4
4     5
..  ...
95   96
96   97
97   98
98   99
99  100

[100 rows x 1 columns]

In [4]:
train = pd.read_pickle("../data/interim/train_data.pkl")

In [13]:
train_raw = pd.read_csv("../data/raw/train.csv")

In [5]:
len(train)

20125605

In [14]:
len(train_raw)

20216100

In [9]:
df.iloc[:,0]

0                1
1                2
2                3
3                4
4                5
            ...
986254    20216003
986255    20216012
986256    20216014
986257    20216046
986258    20216097
Name: 0, Length: 986259, dtype: int64

In [15]:
train2 = train_raw.drop(index=df.iloc[:,0])

In [17]:
len(train2)

19229841